@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@200&family=Dongle:wght@300&family=Julee&family=Rubik:wght@300&display=swap');


body{
    background: rgb(83,83,83);
    background: radial-gradient(circle, rgba(83,83,83,1) 0%, rgba(11,11,11,1) 100%); 
}

.main{
    height: 100vh;
    /* padding-top: 10%; */
}

.headingdiv{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 20px;
}

.gotiny{
    color: white;
    font-family: 'Julee', cursive;
    font-size: 5rem;
}

.descrip{
    color: white;
    margin-top: 20px;
}

.topdiv{
    margin-top: 50px;
}


.buttondiv{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.btn{
    width: 200px;
    background-color: inherit;
    border-color: aliceblue;
    font-size: 20px;
    font-weight: 700;
}

.btn:hover{
    background-color: inherit;
    color: #60b4c5;
    border-color: #60b4c5;
}

.codediv{
    margin-top: 50px;
}

.codehtml{
    color: white;
    font-size: 30px;
    /* width: 100px; */
}

.codeurl{
    color: white;
    font-size: 20px;
}

.codelink{
    color: white;
    font-size: 20px;
    text-decoration: none;
}

